/* @media (min-width: 640px) {
    .text-menu {
        display: flex;
    }
} */

@media only screen and (max-width: 600px) {
    .text-menu {
        display: flex;
        /* margin: 2rem 0rem; */
        margin: 0;
        padding: 0;
    }
    .stepper {
        margin: 1rem 0;
        /* margin-left: 1rem; */
        padding: 0 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.25rem;
        line-height: 1.75rem;
        padding: 1rem;
    }
    .stepCount {
        /* font-size: 1.25rem;
        line-height: 1.75rem; */
        padding: 1.25rem;
    }
}

