.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {
  /* background-color: #eef5ff; */
}

.bg-whole {
  background-color: #eef5ff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info2 {
  padding: 0 5rem;
}

@media only screen and (max-width: 600px) {
  .topmenu {
    display: flex;
    flex-direction: column;
    background-color: #eef5ff;
  }
  .info {
    /* border: 2px solid black; */
    background-color: white;
    margin: 0 2rem;
    border-radius: 4px;
    padding: 1rem;
    position: fixed;
    top: 7rem;
    bottom: 0;
  }
  .sublist {
    width: 100%;
  }
  .inputs {
    width: 100%;
  }
  .card {
    width: 100%;
    display: flex;
    margin: 1rem 0;
  }
  .cards {
    display: block;
  }
  .card-text {
    margin: 0;
  }
  .smallarcade {
    margin-left: 1rem;
  }
  .down-btn {
    margin-top: 2rem;
  }
  .down-btn2 {
    margin-top: 4rem;
  }

  .year-sub {
    text-align: end;
    margin-left: 3rem;
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .year-sub1 {
    margin-left: 1rem;
  }
  .games {
    font-size: 0.5rem;
  }
  .step4w {
    width: 100%;
  }
  .thankyou {
    width: 100%;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .info2 {
    background-color: white;
    margin: 0 2rem;
    border-radius: 4px;
    padding: 1rem;
    position: fixed;
    top: 7rem;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
